@model IEnumerable<MuOnlineWebMVC.Models.Character>

@{
    ViewData["Title"] = "Characters";
}

<h2>Personagens</h2>

<h4>Escolha um desses personagens para gerenciar</h4>

<table class="tab-pane">

    <tr>


        @foreach (var item in Model)
        {
            <td>
                
                <div class="col-lg-1">
                        <h4><a href="@Url.Action("CharactersProfile", "Painel", new { Name = item.Name })">@item.Name</a></h4>
                        <a href="@Url.Action("CharactersProfile", "Painel", new { Name = item.Name })">
                    <img src="~/photos/@item.Image" class ="img-circle" height="150" width="150" /></a>
                </div>
      

            </td>

        }
    
</table>



