@model MuOnlineWebMVC.Models.ViewModels.PainelViewModels.ImageUploadViewModels


<h2>Create</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Painel" asp-action="ImageUpload">
            <input type="hidden" asp-for="Name" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>@Model.Name</h3>
                <a href="@Url.Action("CharactersProfile", "Painel", new { Name = Model.Name })"><img src="~/photos/@Model.Image", class="img-thumbnail" height="200" width="200" /></a>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image"  form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink("Voltar", "Characters")
</div>