@model MuOnlineWebMVC.Models.ViewModels.PainelViewModels.ToChangeEmailViewModel

@{
    ViewData["Title"] = "Mudar senha";
}

<h2>@ViewData["Title"]</h2>

<h4>Realize sua troca de senha</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ToChangeEmail" asp-antiforgery="true">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailComparable" class="control-label"></label>
                <input asp-for="EmailComparable" class="form-control" />
                <span asp-validation-for="EmailComparable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pid" class="control-label"></label>
                <input asp-for="Pid" class="form-control" />
                <span asp-validation-for="Pid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Painel">Back to List</a>
</div>

