@model MuOnlineWebMVC.Models.ViewModels.PainelViewModels.ToChangePasswordViewModel

@{
    ViewData["Title"] = "Mudar senha";
}

<h2>@ViewData["Title"]</h2>

<h4>Realize sua troca de senha</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ToChangePassword" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Password" class="control-label">Senha</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirme a senha</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Painel">Back to List</a>
</div>

