@model Character

        <h4 align="center">Top Master Resets</h4>
            <ul class="list-group">
                <li class="list-group-item-success" align="center">  @Model.Name</li>
                <li class="list-group-item" align="center"><img src="~/photos/@Model.Image" class="row img-rounded" height="150" width="150" /></li>
                <li class="list-group-item"align="center"><small><strong>@Model.MrTotal</strong> Master Resets</small></li>
            </ul>
       