@model Character

        <h2 align="center">Top  Resets</h2>
        <ul class="list-group">
            <li class="list-group-item-success" align="center">  @Model.Name</li>
            <li class="list-group-item" align="center"><img src="~/Characters/@Model.Image" class="img-rounded" height="200" width="200" /></li>
            <li class="list-group-item" align="center"><small><strong>@Model.Resets</strong> Resets</small></li>
        </ul>